@model LoginViewModel

@{
    ViewBag.Title = "User Login";
}

<div class="row item-center item-mg-top">
    <div class="col-md-8">
        <h1>Local Account Login</h1>
        <hr />
        <section class="form form-request form-login">
            <div class="container">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group form-group-left">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group form-group-left">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group form-group-left">
                        <div class="checkbox">
                            <label asp-for="RememberMe" class="remember">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </section>
    </div>
</div>