@model IEnumerable<Animal>
@{
	ViewBag.Title = "Home";
}
<section class="home">
    <div class="home-content">
        <h3>PetCare</h3>
        <p class="desc">We Care <span>Your Pets</span></p>
        <p>Hello Guys, we are team Petcare. We take care of your pets. We massage them, provide showers, vaccinations, day-care and more...</p>
        <a href="./pages/about.html" class="btn">About Us</a>
    </div>
</section>
<section class="icons-container">

    <div class="icons">
        <i class="fa-solid fa-users"></i>
        <h3>Trustable</h3>
        <p>Staffs' Team </p>
    </div>

    <div class="icons">
        <i class="fa-solid fa-dog"></i>
        <h3>Comfort</h3>
        <p>Space for your Pets</p>
    </div>

    <div class="icons">
        <i class="fa-solid fa-bed"></i>
        <h3>Morden</h3>
        <p>Equipments and Methods</p>
    </div>

    <div class="icons">
        <i class="fa-solid fa-house-medical-flag"></i>
        <h3>Good Space</h3>
        <p>For waiting of clients</p>
    </div>
</section>


<!-- home section ends -->
<!-- review sections starts -->

<section class="review">
    <h1 class="heading">Client's <span>Reviews</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="~/images/Man1.jpg" alt="Man1" />

            <h3>Xavier</h3>
            <p class="job">Client</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">Amazing Place, Amazing Facilities, Amazing Staff and Very Good Environment!</p>
        </div>
        <div class="box">
            <img src="~/images/Man2.jpg" alt="Man1" />
            <h3>Francis</h3>
            <p class="job">Client</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">Very Nice and cool environment! I really had a very good experience here. My Dog Loved It!</p>
        </div>
        <div class="box">
            <img src="~/images/Man3.jpg" alt="Man1" />
            <h3>John</h3>
            <p class="job">Client</p>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="text">Very Good! Here, there are many good facilites for dogs and cats.</p>
        </div>
    </div>
</section>
